/CoreWithIdentityServerFour.Mvc/bin/
/CoreWithIdentityServerFour.Mvc/obj/

/CoreWithIdentityServerFour.ServerWebApi/bin/
/CoreWithIdentityServerFour.ServerWebApi/obj/

/CoreWithIdentityServerFour.WebApi/bin/
/CoreWithIdentityServerFour.WebApi/obj/


/CoreWithIdentityServerFour.Console/bin/
/CoreWithIdentityServerFour.Console/obj/